* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.links { display: flex;
    align-items: center;
    gap: 50px;
    background-color: #A7727D;
    
  
}
.middle{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;

}
 .third{
       
    margin-top: 50px;
    align-items: center;

 }
 .sub{
    background-color: #A7727D;
    align-items: center;
 }

