* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.links { 
    display: flex;
    align-items: center;
    gap: 50px;
   
    margin-bottom: 100px;
    margin-left: 1000px;
  
  
}
 img{
    height: 300px;
    border-radius: 50%;
    border: 12px dotted rgb(15, 15, 15);
    }

 div{ align-items: center;
    display: flex;
    gap: 50px;
    font-style: italic;
    color: black;
    background: #A7727D;

 }
footer{
    display: flex;
    align-items: center;
    color: blue;
    margin-left: 500px;

}

